# 입력값 데이터베이스에 저장

In [1]:
import pymysql

#전역변수 선언
conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql=""

#메인코드
conn = pymysql.connect(host = '127.0.0.1', user= 'root', password='1234',
                      db = 'hanbitdb', charset='utf8')
cur=conn.cursor()
while (True):
    data1 = input("사용자 ID ==> ")
    if data1== "":
        break;
    data2 = input("사용자 이름 ==> ")
    data3 = input("사용자 이메일 ==> ")
    data4 = input("사용자 출생년도 ==> ")
    sql = "INSERT INTO userTable VALUES('"+ data1 +"','"+ data2 +"', '"+ data3 +"', "+ data4 +")"
    cur.execute(sql)

conn.commit()
conn.close()

사용자 ID ==> U
사용자 이름 ==> U young u
사용자 이메일 ==> U@ena.com
사용자 출생년도 ==> 1989
사용자 ID ==> Su
사용자 이름 ==> Su ji
사용자 이메일 ==> su@sm.com
사용자 출생년도 ==> 1888
사용자 ID ==>